<section class="promo">
    <div class="backgroundImage" id="promoImage"> </div>
    <div>
        <h2>Sleep Easy with SleepEZ</h2>
    </div>
    <div>
        <p> Get 50% off rates in North America with promo code: SL33P</p>
    </div>
</section>
<div id="ENDOFSECTION"></div>