{{#each error}}
<div class="errorMessages">{{this}}</div>
{{/each}}
<section class ="formSection" id="userRegistration">
    <div class="backgroundImage" id="registrationBackground"></div>
    <h1 class="formTitle" id="regTitle">Welcome Back!</h1>
    <div class="formLayout" id="registrationForm">
        <h2>Please Login:</h2>
        <form action="/login" method="POST">
            <label>Username (this will be your e-mail) </label><br>
            <input type="email" name="userEmail" id="userEmail">
            <br><br>
            <label>Password:</label>
            <br>
            <input type="password" name="userPassword">
            <br><br>
            <input type="submit" name="login" value="Login!">
        </form>
    </div>
</section>