{{#each error}}
<div class="errorMessages">{{this}}</div>
{{/each}}
<div id="userRegistration">
    <div class="backgroundImage" id="registrationBackground"></div>
    <h1>Sign up to SleepEZer &copy;</h1>
    <section id="registrationForm">
        <h2>Sign Up and Get Started!</h2>
        <form action="/userReg" method="POST">
            <label>Email: </label><br>
            <input type="email" name="userEmail" id="userEmail">
            <br><br>
            <label>Full Name:</label>
            <br>
            <input type="text" name="firstName" value="First Name">
            <input type="text" name="lastName" value="Last Name">
            <br><br>
            <label>Password:</label>
            <br>
            <input type="password" name="userPassword">
            <br>
            <label>Date of Birth:</label>
            <br>
            <input type="date" name="dateOfBirth">
            <br><br>
            <input type="submit" name="signUp" value="Sign Up!">

        </form>
    </section>
</div>