<section class="dashBoard">
    <div class="backgroundImage" id="dashboardBackground"></div>
    <h1> Welcome!!!</h1>
    {{#if user}}
    <p>
        Welcome back {{user.firstName}}! You are currently setup as a {{user.Status}}
        <br><br>
        Please use the menu at the top to navigate to your dashboard!
    </p>
    {{else}}
    <p>
        You shouldn't be here
    </p>
    {{/if}}
</section>