{{#each error}}
<div class="errorMessages">{{this}}</div>
{{/each}}
{{#each userData}}
<h2>Registration success! Welcome {{this}}!</h2>
{{/each}}
<section class="formSection">
    <div class="backgroundImage" id="searchBackground"></div>
    <h1 class="formTitle">Book Now!</h1>
    <div class="formLayout" id="bookingHome">
        <h2>Book anywhere in Canada <br>as long as it's in these four great cities!</h2>
        <form method="POST" action="/">
        <div id="searchForm">
            <label>City:</label><br>
            <select name="searchCity">
                <option value="Toronto">Toronto</option>
                <option value="Vancouver">Vancouver</option>
                <option value="Montreal">Montreal</option>
                <option value="St. John's">St. John's</option>
            </select>
            <div id="checkContainer">
                <div id="checkIn">
                    <label>Check In Date</label><br>
                    <input type="date" name="checkInDate">
                </div>
                <div id="checkOut">
                    <label>Check Out Date</label><br>
                    <input type="date" name="checkOutDate">
                </div>
            </div>
            <label>Number of Guests:</label><br>
            <input type="number" name="numberOfGuests" min="1" max="9">
            <br><br>
            <input type="submit" name="submitSearch" value="Search">
        </div>
        </form>

    </div>
</section>
<section class="information">
    <div class="backgroundImage" id="infoBack"></div>
    <h2>Who we are</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br><br>
    <h3>Testimonials:</h3>
    <div id="testimony">
        <div>
            <img src="img/oldperson1.jpg" alt="Bobby">
            <br>
            <p>
                <b>Bobby</b>: Amazing!
            </p>
        </div>
        <div>
            <img src="img/oldpeople2.jpg" alt="Lots Of Old People">
            <br>
            <p>
                <b>Ernest</b>: Easy to use and great for groups!
            </p>
        </div>
        <div>
            <img src="img/oldpeople3.jpg" alt="Laughing old people">
            <br>
            <p>
                <b>Louise</b>: Since Henry passed away I have never been busier! SleepEZ makes it so much EZer!
            </p>
        </div>
    </div>
    <div class="video">
    <h2>Confused? Relax! LearnEZ!</h2>
    <video controls>
        <source src="media/Tutorial.mp4" type="video/MP4">
    </video>
    </div>
</section>
<section class="promo">
    <div class="backgroundImage" id="promoImage"> </div>
    <div>
        <h2>Sleep Easy with SleepEZ</h2>
    </div>
    <div>
        <p> Get 50% off rates in North America with promo code: SL33P</p>
    </div>
</section>
<div>


</div>